/* .appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fef4e8;
}

.layoutContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} */
